@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
  padding:60px;
  background-color: bisque;
}

input{
  font-size: 1.2rem;
  width: 100%;
}